#main-area{
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: azure;
}
.team-info{
    min-height: 284px;
    background-color: #555;
    color: azure;
    border-radius: 5px;
}
#team-details{
    float: left;
    width: 60%;
    padding: 30px;
    box-sizing: border-box;
}
#team-img{
    float: right;
    width: 40%;
    padding: 15px;
    box-sizing: border-box;
}
@media(max-width: 600px){
    #team-details{
        width: 100%;
        float: none;
    }
    #team-img{
        width: 100%;
        float: none;
    }
}
#team-banner{
    position: relative;
}
#team-banner #team-badge{
    position: absolute;
    top: 20%;
    left: 45%;
}

